@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#header-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/assets/slider-home-1.png");
  background-position: left;
  background-size: cover;
}

.slick-slide > div {
  margin: 0 20px !important;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 30px !important;
}

.slick-prev,
.slick-next {
  height: 100px !important;
  width: 100px !important;
  z-index: 10;
}

@media screen and (min-width: 1024px) {
  .slick-prev,
  .slick-next {
    height: 20px !important;
    width: 20px !important;
    z-index: 10;
  }
}

#garanties-home {
  background-image: url("/assets/garanties-img.jpg");
  background-size: cover;
  background-position: center;
}

#accordion > div {
  background-color: #f7f7f7 !important;
}

#equipe-engagee {
  background-image: url("/assets/banniere-garanties.png");
  background-position: center;
  background-size: cover;
}
